.smoke {
	position: absolute;
	width: 100%;
}

#main-wrap {
	overflow: visible !important;
}

@-webkit-keyframes dissipate {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100% {
      transform: rotate(0deg) translateY(-1000px);
        opacity: 0;
        filter:blur(20px);
    }
}

@keyframes dissipate {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100% {
      transform: rotate(0deg) translateY(-1000px);
        opacity: 0;
        filter:blur(20px);
    }
}


